@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;500;700&display=swap');* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: black;
}
html, body {
  min-height: 100%;
  overflow-x: hidden;

}
body {
  background: #faf3f0;
  background-repeat: no-repeat;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
  font-weight: 500;
}

/* layout & nav */
.layout {
  margin: 0 auto;
}
.container{
    margin: 0 auto;

}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}
nav .links {
  display: inline-block;
  text-align: right;
}
nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  font-weight: 800;
  border-color: black;
}

.playfair{
  font-family: 'Playfair Display', serif;
}

strong {
  position: relative;
}

strong::before {
  /* Highlight color */
  background-color: #00e787;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 50%;
  left: 10px;
  bottom: 0;
  z-index: -1;
}


